{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workers/css/all.css' %}">
{% endblock %}

{% block title %} Всі робітники {% endblock %}

{% block content %}
    <h1> Всі робітники: </h1>

    {% for worker in workers %}
        <h2>{{worker.name}}: {{worker.salary}} $</h2>
        <div class="worker-buttons">
            <a class="btn details" href="#">Детальніше</a>
            <a class="btn edit" href="#">Редагувати</a>
            <a class="btn delete" href="#">Видалити</a>
        </div>
    {% endfor %}

{% endblock %}
